{% extends 'navbar.html.twig' %}

{% block title %}Home | La Fábrica Moto{% endblock %}

{% block body %}

    <section class="hero-section">
        <div class="hero-content max-w-screen-xl px-4 mx-auto">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl font-cinzel">
                Crafting Timeless Machines
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 xl:px-48 font-montserrat">
                At La Fábrica Moto, we specialize in classic custom motorcycle builds, blending heritage styling with modern performance. Every bike is a unique creation for riders who value freedom, individuality, and timeless design.
            </p>
            
            <div class="flex flex-col mb-8 space-y-4 lg:mb-16 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-primary-color rounded-lg hover-bg-primary-darker focus:ring-4 focus:ring-primary-color">
                    Explore Our Builds
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 
                        010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 
                        11H3a1 1 0 110-2h11.586l-4.293-4.293a1 
                        1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </a>

                <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-300 border border-primary-color rounded-lg hover:bg-gray-700 hover-text-primary-color focus:ring-4 focus:ring-primary-color">
                    <svg class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M2 6a2 2 0 012-2h6a2 2 0 
                        012 2v8a2 2 0 01-2 2H4a2 2 
                        0 01-2-2V6zM14.553 7.106A1 1 
                        0 0014 8v4a1 1 0 00.553.894l2 
                        1A1 1 0 0018 13V7a1 1 0 
                        00-1.447-.894l-2 1z"></path>
                    </svg>
                    Watch Our Story
                </a>
            </div>
        </div>
    </section>
{% endblock %}
